.wrapper {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .kshama {
    width: 200px;
    height: 150px;
  }
  .text-content {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    text-align: center;
  }
}
